.popover-carts {
  .pop-cart-body {
    .pop-cart-content {
      display: flex;
      flex-direction: column;
      gap: 15px;

      .book {
        display: flex;
        gap: 10px;

        img {
          width: 50px;
          height: 50px;
        }
        .price{
            color: #ee4d2d;
        }
      }
    }
    .pop-cart-footer {
      margin-top: 15px;
      button {
        color: #fff;
        background: #ee4d2d;
        cursor: pointer;
        outline: 0;
        overflow: visible;
        position: relative;
        font-size: 14px;

        border: 0;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.09);
        border-radius: 2px;
        align-items: center;
        justify-content: center;
        padding: 12px 24px;
        height: 36px;
      }
    }
  }
}
